{% load static %}

<nav class="navbar navbar-expand-lg" style="background: rgb(207, 195, 195);">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><img src="{% static 'img/Onlyflans.png'%}" style="width: 3rem;" class="img"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav nav-underline">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/welcome/">Bienvenido</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about/">Acerca</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contacto/">Contacto</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {% if request.user.is_authenticated %}
              Bienvenido {{user.get_username}}
              {% else %}
              Acceso
              {% endif %}
            </a>
            <ul class="dropdown-menu">
                  <!-- Ajuste de Inicio de Seccion -->
                  {% if request.user.is_authenticated %}
                    <li>
                      <a class="dropdown-item" href="{% url 'logout' %}">Cerrar sesión</a>
                    </li>
                  <!-- Si el usuario no esta Logeado -->
                  {% else %}
                    <li>
                      <a class="dropdown-item" href="{% url 'login' %}">Inciar sesión</a>
                    </li>
                  {% endif %}
            </ul>
          </li>
        </ul>
      </div>
    </div>
   </nav>
  